.chat {
	width: 20%;
	margin-left: 80%;
	background-color: white;
	border: 1px solid #b5651d;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	font-family: stitch;
}

.chat-display {
	height: 200px;
	background-image: url('https://wallpaperaccess.com/full/480027.jpg');
}

.chat-send {
	display: grid;
	grid-template-columns: 80% 20%;
	height: 30px;
	border-top: 1px solid #b5651d;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.chat-send input {
	border: none;
}

.chat-send button {
	background-color: white;
	font-size: x-small;
	border: none;
}

.chat-send button:hover {
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
