<% @posts.each do |post| %>
  <p class="post"><%= post.message %>

  <br>Posted by: <%= link_to User.find(post.user_id).username, new_friend_path %>
  </p>
<% end %>

<% if current_user %>
  <%= link_to new_post_path do %>
    New post
  <% end %>
<% end %>

<br>
<br>
